<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >
  <connectionStrings>
    <add name="dev" connectionString="data source=BIAGL;initial catalog=Staging;integrated security=True" providerName="System.Data.SqlClient" />
    <add name="prod" connectionString="data source=BIAGL;initial catalog=StrategicReporting;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="insertdatasource" value="Insert into Staging.dbo.NLog_Sources(Particular,StartDateTime) Values(?,?)" />
    <add key="getlastsourceID" value="Insert into Select max(ID) as SourceID FROM Staging.dbo.NLog_Sources " />
    <add key="FromEmail" value="clintonbartley@empathhealth.org" />
  </appSettings>
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="logfile" fileName="${basedir}/logs/${shortdate}.log"
            layout="${machinename}|${longdate}|${uppercase:${level}}|${message}|${logger}|${callsite}|${exception:tostring}|${event-properties:appid}|${callsite-linenumber}|${callsite-filename}" />
    <target xsi:type="Console" name="logconsole"
            layout="${machinename}|${longdate}|${uppercase:${level}}|${message}|${logger}|${callsite}|${exception:tostring}|${event-properties:appid}|${callsite-linenumber}|${callsite-filename}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
  </rules>
</nlog>
